.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column
}

.createButton {
  align-self: center;
  font-family: Nunito, sans-serif;
  text-align: center;
  color: #46568a;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  text-transform: uppercase;
  min-height: 50px;
  &:hover {
    background-color: #727cf5
  }
}
